# PostgreSQL Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=olist_analytics
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# pgAdmin Configuration
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=8080

# Application Paths
DATA_RAW_PATH=./data/raw
DATA_PROCESSED_PATH=./data/processed
